.about-site-content{
  height: 900px;
}
.mepic{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 100%;
  width: 81%;
}

.my-apps{
  height: 100%;
  font-size: 24px;
  width: 100%;
}
.my-apps-head{
  height: 36px;
  font-size: 27px;
  color: black;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}
.implemented-apps{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.myapp{
  width: 45%;
  height: 45%;
  position: relative;
  margin: 24px;
  text-decoration: none;
}
.apppic{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 465.3px;
  max-height: 262px;
  margin-top: 60px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  transition: .3s;
  border-radius: 5px;
}

.apppic:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.1);	/*画像の拡大率*/
  transition-duration: 0.3s;	/*変化に掛かる時間*/
  }

  @media screen and (max-width: 1040px){
    .about-site-content{
      height: 1800px;
    }
    .myapp{
      width: 90%;
      height: 25%;
      position: relative;
      margin: 12px auto 0;
      text-decoration: none;
    }
    .implemented-apps .apppic {
        width: 90%;
        height:  60%;
        margin: 60px auto 0;
    }
  }
