.screen-reader-text{
  overflow: hidden;
}
.search-submit{
  background-color: #ede9df;
  color: #333;
}
.menu-items{
  
}
.menu-item{
  display: inline-block;
  color: black;
  padding: 21px;
  font-size: 18px;
}
.drawer-nav{
  position: relative;
}
.sub-menu{
  background-color: #fff;
  box-shadow: 0 1px 3px #ddd;
  left: -9999px;
  opacity: 0;
  position: absolute;
  text-transform: none;
  top: 100%;
  transition: opacity .3s ease-in-out;
  white-space: normal;
  width: 220px;
  z-index: 99999;
}
.header-image{
  height: 500px;
  text-align: center;
  border: solid 0.9px black;
  margin-bottom: 90px;
}
.glasses{
  height: 100%;
  /* width: 80%; */
}
.todaydate{
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 12px;
  color: black;
}
#sss{
  position: absolute;
  right: 0;
  bottom: 18px;
}
a{
  color: #777;
}
.home-text{
  font-size: 27px;
  line-height: 1.8;
  margin-bottom: 90px;
  padding-bottom: 24px;
}

.site-content{
  height: 1440px;
}






.site-footer{
  height: 570px;
}
.footer-profile-table{
  display: flex;
}

.footer-profile-area{
  padding-top: 75px;
  height: 100%;
}

.profile-content{
  height: 360px;
  width: 360px;
}
.selfintro{
  width: 360px;
  height: 120px;
  display: flex;
}
.profimg{
  height: 120px;
  width: 160px;
  display: inline-block;
  margin-right: 18px;
}
.profpic{
  border-radius: 50%;
  height: 100%;
}
.prof-meta{
  height: 100px;
  margin-bottom: 20px;
  padding-top:21px;
  width: 200px;
}
.profname{
  font-size: 21px;
  text-align: center;
}
.profsns{
  margin-top: 6px;
  line-height: 1.8;
  font-size: 24px;
  text-align: center;
}
.fab{
  margin: 3px;
}
.profname{
  font-weight: bold;
  color: black;
}
.footer-profile-main{
  height: 360px;
  width: calc(100% - 360px);
  display: flex;
}
.proftext{
  height: 240px; 
  width: 100%;
  line-height: 1.8;
  padding: 9px;
}
.pf{  
  width: 33.3%;
  padding: 12px;
  height: 100%;
}



.site-bottom{
  border-top: solid 1px #e6e6e6;
  padding-top: 60px;
}
.site-bottom__table{
  display: flex;
}

.social-icon{
  display: flex;
  font-size: 24px;
  height: 54px;
  margin-bottom: 24px;
  width: 336px;
  
}
.fabli{
  margin-left: 18px;
}
.site-info{
  width: calc(100% - 336px);
}
.site-credit{
  margin-top: 12px;
  margin-bottom: 12px;
}

